<h1>About this site</h1>
<p>Welcome to  <i>"Would u prefer..."</i>  Would you prefer is a fun and simple social networking application asking all of the silly, the serious, and the outright ridiculous questions you can think of. You can participate in two different ways.  Firstly you can answer other peoples questions and you don't even have to sign up. All you need is yourself and an opinion.  Alternatively you can sign up and start asking your own questions.  It's a great way to settle a beef with a family member, firend or even a co-worker.  Questions can be of any nature and any subject.  Nothing is out of scope*.</p>

<h1>About the creator</h1>
<p><%= link_to "Stewart Matheson", "http://rtmatheson.com" %> has been coding for almost 10 years now and has enjoyed every minute.  After completing a degree in multimedia Stewart has worked in a number of different development jobs including document management, social networking and content platforms.</p>  


<div class="footnotes">
*  This is not entirely true.  Please no racism, hate messages or anything that may be deemed offensive to others.  These questions and answers will be deleted.
</div>